header {
    background: #09015d;
    color: white;
    padding: 10px;
    text-align: center;
}

body {
    background-color: #717171;
    font-size: 16px;
    margin: 10px;
    font-family: "Lato", sans-serif;
}

h1 {
    text-align: center;
}

div {
    background: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

main {
    display: grid;
    padding-left: 200px;
    margin: 0 auto;
}

h2,
h3 {
    margin-left: 0;
    color: #09015d;
}

p {
    color: #ffffff;
    font-size: 1.2rem;
}

footer {
    background: #09015d;
    color: white;
    padding: 10px;
    text-align: center;
}