header {
    background-color: rgb(17, 17, 64);
    width: 100%;
}

header span {
    display: grid;
    justify-content: center;
    color: rgb(195, 201, 222);
    font-size: 2.5rem;
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 10px;
}

header nav {
    display: flex;
    Justify-content: center;
    background-color: rgb(48, 45, 45);
    padding: 10px;
    width: 98.5%;
    gap: 200px;
}

header nav a {
    display: flex;
    text-decoration: none;
    color: rgb(234, 236, 242);
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    color:rgb(17, 17, 64);
    font-family: new times roman;
}

.card {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 65%;
}

.card h2 {
    font-size: 1.5rem;
    color: rgb(19, 19, 74);
    font-family: 'Arial', sans-serif;
}

.card img {
    display: grid;
    grid-template-columns: auto;
}





footer {
    background-color: rgb(17, 17, 64);
    margin: 10px;
    padding: 1.5rem;
    text-align: center;
}

footer p {
    color: white;
    font-size: larger;
}